body {
    padding: 0;
    margin: 0;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.book-reads {
    padding-top: 10px;
    font-family: 'Comfortaa';
    font-size: 28px;
}
#logo {
    height: 30px;
    width: 40px;
}
.search-box {
    float: right;
    display: inline block;
    margin-top: -35px;
    padding-bottom: 20px;
}
#search-bar {
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 6px;
    width: 400px;
    height: 2em;
    text-align: center;
}
#search-bar::placeholder {
    color: black;
}
#login-btn {
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 6px;
    width: 80px;
    text-align: center;
    color: black;
    height: 2em;
}
#login-btn:hover {
    background-color: #955E2B;
    color:white;
}
.modal-title {
    color:#955E2B ;
}
.modal-login {
	width: 320px;
}
.modal-login .modal-content {
	border-radius: 1px;
	border: none;
}
.modal-login .modal-header {
	position: relative;
	justify-content: center;
	background: rgba(255,222,173, 0.7);
}
.modal-login .modal-body {
	padding: 30px;
}
.modal-login .modal-footer {
	background: #f2f2f2;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login label {
	font-weight: normal;
	font-size: 13px;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 38px;
	border-radius: 2px; 
}
.modal-login .hint-text {
	text-align: center;
}
.modal-login .close {
	position: absolute;
	top: 15px;
	right: 15px;
}
.modal-login .checkbox-inline {
	margin-top: 12px;
}
.modal-login input[type="checkbox"] {
	position: relative;
	top: 1px;
}
.modal-login .btn {
	min-width: 100px;
	background: #955E2B;
	border: none;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: rgb(139,69,19);
}
.modal-login .hint-text a {
	color: #999;
}
#username-login, #password-login {
    /* width: 400px;
    height: 30px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 15px; */
    border: 0;
    outline: 0;
    background: white;
    border-bottom: 1px solid black;
    width: 440px;
    font-size: 15px;
}
#username-login:focus, #password-login:focus{
    border-color: #955E2B;
}
body{
    margin: 0;
    padding: 0;
}
.small-container {
    width: 95%;
    overflow: hidden;
    margin: auto;
}
.container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.review-start {
    font-size: 30px;
    font-weight: 400;
    padding-left: 10px;
    float: left;
    border-bottom: 3px solid gray;
    width: 120px;
}
/* .review-grid {
    display: grid;
    grid-template-areas: 
    'item1 item2 item3';
} */

.review-image{
    /* grid-area: 'item1'; */
    /* background-color: red; */
}
#user-image {
    margin-left: 1.5em;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
.review-content {
    /* grid-area: 'item2'; */
    /* background-color: yellow; */
}
.empty {
    
}
.review-voting ul {
    padding-left: 0;
    margin-left: -10px;
}
.review-voting li{
    float:left;
    padding: 10px;
    display: inline;
}
#comment-input {
    height: 110px;
    width:340px;
    background-color: rgba(255,222,173, 0.7);
    border-radius: 5px;
    display: none;
}
.comment-form {
    margin-top: 10px;
    width: 200px;
    height: 50px;
}
.comment-form input[type=text] {
    margin-left: 10px;
    margin-top: 10px;
    height: 60px;
    width: 320px;
    border: 1px solid white;
    border-radius: 7px;
}
#comment-submit {
    margin-top: .5em;
    margin-left: 270px;
}
/* #like {
    color: blue;
} */
.comment-start{
    padding-top: 10px;
    padding-left: .75em;
    font-size: 17px;
    font-weight: 200px;
    border-bottom: 2px solid gray;
    width: 100px;
}
.comment-image {
    margin-left: -1.5em;
    margin-top: 1em;
    margin-right: 1.5em;
}
#user-image-comment {
    margin-left: 1.5em;
    border-radius: 50%;
    border: 1px solid black;
    height: 40px;
    width: 40px;
}
.comment-content {
    margin-top: 1em;
}
@media (max-width: 995px){
    .review-image {
        margin-right: 20px;
    }
    .comment-content {
        /* background-color: red; */
        margin-left: 0.2em;
    }
    .empty {
        height: 0;
        width: 0;
    }
    #username-login, #password-login {
        width: 500px;
    }
}

@media (max-width: 768px){
    .review-image {
        padding-right: 20px;
    }
    .review-content {
        padding: 10px;
        margin-left: 12px;
    }
    .comment-image {
        
    }
    #user-image-comment {
        height: 30px;
        width: 30px;
    }
    .comment-content {
        
        padding-left: 30px;
    }
    .empty {
        height: 0;
        width: 0;
    }
    .container {
        width: 90%; 
   }
   #search-bar {
       width: 200px;
   }
   #login-btn {
       width: 60px;
   }
   .item1 {
       width: 100%;
   }
   #signup-name, #signup-email, #signup-password {
       width: 200px;
       margin-bottom: -5px;
   }
   /* #signup-form p{
       float: right;
   } */
   #username-login, #password-login {
       width: 450px;
   }
}
@media (max-width:550px){
    .container {
        width: 100%; 
        margin: 0;
        overflow: hidden;
   }
   #search-bar {
       width: 200px;
   }
   #login-btn {
       width: 60px;
   }
   .item1 {
       width: 100%;
   }
   #signup-name, #signup-email, #signup-password {
       width: 200px;
       margin-bottom: -5px;
   }
   #username-login, #password-login {
    width: 380px;
}
}
