
body {
  padding: 0;
  margin: 0;
}
.container9 {
  width: 90%;
  overflow: hidden;
  margin: auto;
}
.book-reads {
  padding-top: 10px;
  font-family: "Comfortaa";
  font-size: 28px;
}
#logo {
  height: 30px;
  width: 40px;
}
.search-box {
  float: right;
  display: inline block;
  margin-top: -35px;
  padding-bottom: 20px;
}
#search-bar {
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 400px;
  text-align: center;
}
#search-bar::placeholder {
  color: black;
}
#login-btn {
  background-color: transparent;
  border: 1px solid #333333;
  border-radius: 6px;
  width: 80px;
  text-align: center;
}
.modal-login {
  width: 320px;
}
.modal-login .modal-content {
  border-radius: 1px;
  border: none;
}
.modal-login .modal-header {
  position: relative;
  justify-content: center;
  background: #f2f2f2;
}
.modal-login .modal-body {
  padding: 30px;
}
.modal-login .modal-footer {
  background: #f2f2f2;
}
.modal-login h4 {
  text-align: center;
  font-size: 26px;
}
.modal-login label {
  font-weight: normal;
  font-size: 13px;
}
.modal-login .form-control,
.modal-login .btn {
  min-height: 38px;
  border-radius: 2px;
}
.modal-login .hint-text {
  text-align: center;
}
.modal-login .close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.modal-login .checkbox-inline {
  margin-top: 12px;
}
.modal-login input[type="checkbox"] {
  position: relative;
  top: 1px;
}
.modal-login .btn {
  min-width: 100px;
  background: #3498db;
  border: none;
  line-height: normal;
}
.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #248bd0;
}
.modal-login .hint-text a {
  color: #999;
}
.modal-backdrop {
  position:unset !important;
}
/* .trigger-btn {
	display: inline-block;
	margin: 100px auto;
}  */

/* Upto This Nav-bar */

.gray-body {
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item3 item4";
  background-color: #bdbdbd;
  height: 500px;
}
.item1 {
  grid-area: "item1";
  color: #000000;
  text-align: center;
  font-size: 30px;

}

.item1 p {
  padding-top: 80px;
}

.item4 {
  grid-area: "item4";
  color: #000000;
  text-align: center;
  border: 1px solid black;

  margin-top: -150px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 15px;
}
.item4 p {
  background-color: white;
}



/* .gry {
  /* background-color: #eeedeb;
  display: grid;
  grid-template-columns: 70fr 30fr;
  height: 20em;
} */
.g1 {
  background-color: #eeedeb;
  height: 20em;
}

.gry > div {
  color: black;
}

.card1 {
  grid-area: c;
  margin-left: 25px;
  margin-top: 25px;
}

.card2 {
  grid-area: d;
  margin-top: 25px;
}

.card3 {
  grid-area: e;
  margin-top: 25px;
}

.card4 {
  grid-area: f;
  margin-left: 25px;
  margin-bottom: 25px;
}

.card5 {
  grid-area: g;
  margin-bottom: 25px;
}

.card6 {
  grid-area: h;
  margin-bottom: 25px;
}

.col1 {
  grid-area: i;
  margin-top: 25px;
  margin-bottom: 25px;
}

.col2 {
  grid-area: j;
  margin-top: 25px;
  margin-bottom: 25px;
}
.b1 {
  background-color: #b9814b;
  height: 470px;
}
.i1 {
  width: 8em;
  height: 11em;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 1px solid black;
}

.i2 {
  width: 8em;
  height: 11em;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  border: 1px solid black;
}
.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.best-thirller .middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text {
  color: #955E2B;
  background-color: white;
  margin: 2px;
}
.best-books-2021:hover .i2 {
  opacity: 0.5;
}
.best-books-2021:hover .middle{
  opacity: 1;
}
.best-books-2021:hover .middle{
  background-color: white;
}
.best-thirller:hover .i2 {
  opacity: 0.5;
}
.best-thirller:hover .middle{
  opacity: 1;
}
.best-thirller:hover .middle{
  background-color: white;
}
.best-thirller .text {
  margin: 2px;
  text-align: center;
}
#category-box a {
  text-decoration: none;
  color: black;
}
#category-box a:hover {
  color: black;
  font-weight: 500;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

body {
  overflow-x: hidden;
}

.c1 {
  background-color: rgba(56, 52, 44, 0.7);
}
.c2 {
  background-color: rgba(234, 182, 118, 0.8);
  color: black;
}

ul > li > a:hover {
  opacity: 0.5;
}

.amazon {
  width: 6em;
  height: 4em;
}

.rokomari {
  width: 10em;
  height: 4em;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  justify-content: center;
}
#add-books {
  background-color:  rgba(234, 182, 118, 0.9);
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  width: 150px;
}
#add-books:hover {
  background-color: #955E2B;
  color: white;
  font-weight: 400;
}
@media (max-width: 1040px) {
  #category-content{
    margin-left: -4em;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  #search-bar {
    width: 200px;
  }
  #login-btn {
    width: 60px;
  }
}
@media (max-width:760px) {
  #category-box {
    margin-left: 2em;
  }
}
